@font-face {
  font-family: 'notosansjp';
  src: url('./NotoSansJP-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'notosansjp', sans-serif;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #000000;
  padding: 2px;
  text-align: left;
}
th {
  background-color: #039393;
}
