@font-face {
  font-family: 'notosansjp';
  src: url('./NotoSansJP-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'notosansjp', sans-serif;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #000000;
  padding: 5px;
  text-align: left;
}
th {
  background-color: #003f6c;
}

input[type="checkbox"] {
  pointer-events: none;
}
