@font-face {
  font-family: 'notosansjp';
  src: url('NotoSansJP-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'notosansjp', sans-serif;
}
